extends layouts/default
include helpers/mixins

block variables
	- const title = "gulp-pug-starter"

block content
	.container
		p kjkjj

	ul
		li kj
		li kj
		li kj
		li kj
		li kj

block scripts
	script(src="../js/main.js")
	script(src="../js/vendor.js")